<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="/assets/css/reset.css" type="text/css"> -->
		<script
  			src="https://code.jquery.com/jquery-3.1.1.min.js"
  			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  			crossorigin="anonymous"></script>
		<!-- Google fonts link -->
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Acme|Patua+One" rel="stylesheet">
		<!-- Bootstrap cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Font awesome cdn -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<!-- Bootstrap js cdn -->
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{{!-- Google fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Bitter|Lora|Merriweather|PT+Serif|Roboto+Slab" rel="stylesheet">
		<!-- Bootswatch Cerulean theme -->
		<link rel="stylesheet" href="/assets/css/cerulean.min.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<title>Mongo Scrape</title>
	</head>
	<body>
		{{{ body }}}
	</body>
	<script type="text/javascript" src="/app.js"></script>
</html>